DATABASE_URL="postgresql://dhibob:dhibob_secret@localhost:5432/dhibob"
TEST_DATABASE_URL="postgresql://dhibob:dhibob_secret@localhost:5432/dhibob_test"
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
REDIS_URL="redis://localhost:6379"
